	<div id="pageHeader">
		<h1><span>css Zen Garden</span></h1>
		<h2><span>The Beauty of <acronym title="Cascading Style Sheets">CSS</acronym> Design</span></h2>
	</div>
	
	<table id="growheader" cellspacing="0" width="100%">
		<tr>
		<td id="greenbox">
			<div id="quickSummary">
			<p class="p1"><span>A demonstration of what can be accomplished visually through <acronym title="Cascading Style Sheets">CSS</acronym>-based design and OpenEdit. All images and formating of this site are controlled from a style sheet.</span></p>
			</div>
		</td>
		<td with="100%" id="greenspan">&nbsp;</td>
		<td id="flowerbox">	</td>
		</tr>
	</table>